=link_to image_tag("hand-yes-email.png", :title => t(:"position_verbs.yes"), :alt => t(:"position_verbs.yes")),
         new_motion_vote_url(motion_id: @motion.id, position: 'yes'),
         class: 'yes-link'
=link_to image_tag("hand-abstain-email.png", :title => t(:"position_verbs.abstain"), :alt => t(:"position_verbs.abstain")),
         new_motion_vote_url(motion_id: @motion.id, position: 'abstain'),
         class: 'abstain-link'
=link_to image_tag("hand-no-email.png", :title => t(:"position_verbs.no"), :alt => t(:"position_verbs.no")),
         new_motion_vote_url(motion_id: @motion.id, position: 'no'),
         class: 'no-link'
=link_to image_tag("hand-block-email.png", :title => t(:"position_verbs.block"), :alt => t(:"position_verbs.block")),
         new_motion_vote_url(motion_id: @motion.id, position: 'block'),
         class: 'block-link'
